.main-Cart{
    display: grid;
    grid-template-columns: 5fr 2fr;
}

.display-details{
    background-color: gray;
    width: 95%;
    border-radius: 10px;
    margin-top: 20px;
    position: sticky;
    top: 0;
    height: 500px;
}
.spent-time{
      color: #6047EC;
      padding-left: 20px;
      padding-right: 10px;
}
.book-mark-blog{
    padding-left: 20px;
    padding-right: 10px;
    width: 100%;
}

.book-marks{
    padding-bottom: 50px;
}