.single-Cards{
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.single-Cards img{
    width: 100%;
    border-radius: 20px;
  
}
.user-id img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin-right: 20px;
}
.user-details{
    display: flex;
    justify-content: space-between;
}
.bookmark{
    display: flex;
    align-items: center;
    padding-right: 20px;
}
.bookmark p{
    margin-right: 10px;
}
.user-id{
    display: flex;
   align-items: center;
}
.user p{
    margin-top: -25px;
 
}

.text{
     font-size: 40px;
     margin-top: -15px;
}
.markAsLink{
    margin-bottom: 60px;
    margin-top: -20px;
    font-size: 20px;
}

.markAsLink a{
    text-decoration: underline#6047EC;
    color: #6047EC;
}